#title-date {
    text-align: center;
    margin: 2rem 0;
}

.carpool-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// Travel container


.travel-container {
    margin: 2rem;
    border: 1px solid $white;
    border-radius: 15px;
}

.small-frame {
    border: 1px solid $white;
    border-radius: 5px;
    margin: 2rem;
}



.seat-credit-container {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 1rem 1rem 0 1rem;

    .seat-credit-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }

    .icons-details-carpool {
        fill: $white;
        border: 1px solid $white;
        border-radius: 50%;
        margin-right: 0.5rem;
        padding: 0.1rem;
        width: 20px;
        height: 20px;
    }

    p {
        text-align: right;
    }
}




// Driver container



// Comments-container



.md-frame {
    border: 1px solid $white;
    border-radius: 15px;

    h5 {
        padding: 1rem 0 0.5rem 1rem;
    }

    ul {
        padding: 0 0 1rem 2rem;
    }

    li {
        color: $white;
    }
}

#car-infos {
    margin-top: 5rem;
}

.profil-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    img {
        border: 1px solid $black;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        justify-self: end;
        margin-right: 1rem;
    }

    h4 {
        align-items: left;
    }
}

.comments-container {
    text-align: center;
    margin-inline: 3rem;

    h4 {
        margin: 2rem 0 1rem 0;
    }
}


.container-details-travel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;

    .travel-infos {
        display: flex;
        flex-direction: row;
    }

    .travel-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 1rem 1rem;
    }

    .travel-line {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);

        .circle {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: $white;
        }

        .line {
            width: 5rem;
        }
    }
}

.btn-participate {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

// CAROUSEL

.carousel {
    position: relative;
    height: 25vh;
    width: 50vw;
    background-color: $white;
    border-radius: 10px;

    h5,
    p {
        color: $black;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: none;
        border: none;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
    
        svg {
            background-color: $white;
            color: $black;
            width: 2rem;
            height: 2rem;
        }
    }
}

#prev {
    left : 0.5rem;
}

#next {
    right: 0.5rem;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-out;
}

.slide.active {
    opacity: 1;
}