h1 {
    color: $black;
    font-size: 1rem;

    @media (min-width : 768px) {
        font-size: 2rem;
    }

    @media (min-width : 1200px) {
        font-size: 2.5rem;
    }
}

h2 {
    color: $white;
    font-size: 1.4rem;

    @media (min-width : 768px) {
        font-size: 1.8rem;
    }
}

h3 {
    color: $black;
    font-size: 1.2rem;

    @media (min-width : 768px) {
        font-size: 1.5rem;
    }
}

h4 {
    color: $white;
    font-size: 1.3rem;
}

h5 {
    color: $white;
    font-size: 1.1rem;

    @media (min-width : 768px) {
        font-size: 1.2rem;
    }
}

p {
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
}

li {
    list-style: none;
    color: $white;
}

.btn-blue {
    background-color: $secondary;
    color: $white;
    font-size: 0.9rem;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid $secondary;
    cursor: pointer;

    &:hover {
        border-color: $white;
        background-color: $black;
    }

    @media (min-width : 768px) {
        font-size: 1.1rem;
    }
}

.btn-search {
    border: 1px solid $secondary;

    &:hover {
        color: $black;
        border-color: rgba($color: $black, $alpha: 0.4);
        background-color: $primary;
    }
}

.green-tag {
    background-color: $primary;
    border-radius: 2rem;
    width: 6rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    p {
        color: $black;
    }
}