.container-details-covoit {
    display: grid;
    grid-template-columns: 50% 50%;
}

.small-frame {
    border: 1px solid $white;
    border-radius: 5px;
    margin: 2rem 3rem;  
}
.long-frame {
    margin-inline: 3rem;
    border: 1px solid $white;
    border-radius: 15px;
}

#date-details-covoit {
    text-align: center;
}

.icons-details-carpool {
    fill: $white;
}




.profil-icon {
    width: 10%;
}

