// FORM IN COMMON

.container-form {
    background-color: $white;
    border: 1px solid rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    label {
        color: $black;
        font-size: 0.9rem;
    }

    input {
        background-color: $tertiary;
        border: 1px solid rgba($color: $black, $alpha: 0.4);
        border-radius: 5px;
        width: 15rem;
        height: 2rem;
        padding-inline: 1rem;
    }
}

.inputBtn {
    display: flex;
    justify-content: center;
}

@media (min-width:768px) {
    .inputForm {
        label {
            font-size: 1rem;
        }

        input {
            height: 2.2rem;
        }
    }

    form {
        margin-bottom: 1rem;
    }
}

@media (min-width:1200px) {
    .container-form {
        width: 400px;
    }

    .inputForm {
        margin: 2rem;

        label {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        input {
            width: 20rem;
            height: 2.5rem;
            font-size: 1rem;
        }
    }
}


// SPECIFICITIES : FORM HOME

#inputDateHome {
    color: $dark;
}

#container-form-home {
    height: 300px;

    @media (min-width:1200px) {
        height: 400px;
    }
}


// SPECIFICITIES : FORM CONTACT

textarea {
    background-color: $tertiary;
    border: 1px solid rgba($color: $black, $alpha: 0.4);
    border-radius: 5px;
    width: 15rem;
    height: 10rem;
    padding: 5px 0 0 5px;
}

#container-form-contact {
    height: 410px;
}

@media (min-width:1200px) {
    #container-form-contact {
        height: 510px;
    }

    textarea {
        width: 20rem;
    }
}


// SPECIFICITIES : FORM LOGIN & FORM REGISTER

.link-account {
    text-align: center;
    margin-top: 20px;

    p,
    a {
        color: $black;
        font-size: 0.9rem;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}

#container-form-login {
    height: 350px;

    @media (min-width:1200px) {
        height: 450px;
    }
}

#container-form-register {
    height: 500px;

    @media (min-width:1200px) {
        height: 700px;
    }
}