/* FORM HOME */

.form-container {
    background-color: $white;
    border: 1px solid rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    width: 400px;
    height: 300px;

    form {
        text-align: center;
        padding-top: 20px;

        .depart-city,
        .arrival-city,
        .date-label {
            padding: 15px;
        }

        label {
            color: $black;
        }

        input {
            background-color: $tertiary;
            border: 1px solid rgba($color: $black, $alpha: 0.4);
            border-radius: 5px;
            width: 325px;
            height: 40px;
            text-align: start;
            font-size: 1rem;
            padding-left: 10px;

            &:focus {
                outline: none;
            }
        }
    }
}


/* FORM CONTACT */

.form-container-contact {
    background-color: $white;
    border: 1px solid rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: auto;

    form {
        text-align: center;
        padding: 20px 0;

        .title-contact,
        .email-contact,
        .message-contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
        }

        textarea {
            background-color: $tertiary;
            border: 1px solid rgba($color: $black, $alpha: 0.4);
            border-radius: 5px;
            width: 325px;
            height: 150px;
            text-align: start;
            padding: 5px 0 0 5px;
            margin: 10px 0 0 20px;

            &:focus {
                outline: none;
            }
        }

        label {
            margin-left: 20px;
            color: $black;
        }

        input {
            background-color: $tertiary;
            border: 1px solid rgba($color: $black, $alpha: 0.4);
            border-radius: 5px;
            width: 325px;
            height: 40px;
            text-align: start;
            font-size: 1rem;
            margin: 10px 0 0 20px;

            &:focus {
                outline: none;
            }
        }
    }
}


.invalid-feedback {
    color: red;
    font-size: 0.8rem;
    margin-inline: 20px;
    padding-top: 5px;
    text-align: left;
}

.link-account {
    text-align: center;

    p,
    a {
        color: $black;
        font-size: 0.9rem;
    }

    a:hover {
        color: $primary;
    }
}