// FORM HOME

.form-home {
    background-color: $white;
    border: 1px solid rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    display: flex;
    flex-direction: column;

    label {
        color: $black;
        font-size: 0.9rem;
    }

    input {
        background-color: $tertiary;
        border: 1px solid rgba($color: $black, $alpha: 0.4);
        border-radius: 5px;
        width: 15rem;
        height: 2rem;
        padding-inline: 1rem;
    }
}

.inputBtn {
    display: flex;
    justify-content: center;
}


@media (min-width:768px) {
    .form-home {
        background-color: $white;
        border: 1px solid rgba($color: $black, $alpha: 0.5);
        border-radius: 10px;
        width: 300px;

        form {
            text-align: center;
            padding-top: 20px;

            .inputForm {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 15px;


                label {
                    color: $black;
                    margin-left: 20px;
                }

                input {
                    background-color: $tertiary;
                    border: 1px solid rgba($color: $black, $alpha: 0.4);
                    border-radius: 5px;
                    width: 325px;
                    height: 40px;
                    text-align: start;
                    font-size: 1rem;
                    padding-left: 10px;
                    margin: 10px 0 0 20px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

#container-form-home {
    height: 400px;

    @media (min-width:768px) {
        height: 400px;
    }
}

#inputDateHome {
    color: $dark;
}

//A REVOIR

// FORM CONTACT

textarea {
    background-color: $tertiary;
    border: 1px solid rgba($color: $black, $alpha: 0.4);
    border-radius: 5px;
    width: 325px;
    height: 150px;
    text-align: start;
    padding: 5px 0 0 5px;
    margin: 10px 0 0 20px;

    &:focus {
        outline: none;
    }
}


.invalid-feedback {
    color: red;
    font-size: 0.8rem;
    margin-inline: 20px;
    padding-top: 5px;
    text-align: left;
}

.valid-feedback {
    color: green;
    font-size: 0.8rem;
    margin-inline: 20px;
    padding-top: 5px;
    text-align: left;
}


.link-account {
    text-align: center;
    margin-top: 20px;

    p,
    a {
        color: $black;
        font-size: 0.9rem;
    }

    a:hover {
        color: $primary;
    }
}



#container-form-contact {
    height: 500px;
}

#container-form-login {
    height: 450px;
}

#container-form-register {
    height: 700px;
}