.hero-section {
    position: relative;

    .wave-top {
        position: relative;
    }

    h1 {
        position: absolute;
        z-index: 1;
        top: 20%;
        right: 10%;
    }

    .form-container,
    .form-container-contact,
    .form-container-register {
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 20%;
    }
}