.container-main-home {
    background-color: $black;
}


/* HERO SECTION */

.hero-section {
    position: relative;

    .wave-top {
        position: relative;
    }

    h1 {
        position: absolute;
        z-index: 1;
        top: 20%;
        right: 10%;
    }

    .form-home {
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 20%;
    }
}


/* FORMULAIRE */

.form-home {
    background-color: $white;
    border: 1px solid rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    width: 400px;
    height: 300px;

    form {
        text-align: center;
        padding-top: 20px;

        .depart-city,
        .arrival-city,
        .date-label {
            padding: 15px;
        }

        input {
            background-color: $tertiary;
            border: 1px solid rgba($color: $black, $alpha: 0.4);
            border-radius: 5px;
            width: 325px;
            height: 40px;
            text-align: start;
            font-size: 1rem;
            padding-left: 10px;
        }

        .btn-search {
            background-color: $secondary;
            color: $white;
            font-size: 1.1rem;
            padding: 8px 20px;
            margin-top: 5px;
            border-radius: 5px;
            border: 2px solid $secondary;
            cursor: pointer;

            &:hover {
                color: $black;
                border-color: rgba($color: $black, $alpha: 0.4);
                background-color: $primary;
            }
        }
    }
}



/* MAIN SECTION */

.img-main-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-bottom: 50px;
}

.grid-home-prez {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-inline: 15%;

    .container-img-electric {
        text-align: center;

        .img-electric {
            border-radius: 25%;
            margin-bottom: 10%;
        }
    }

    .text-environ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-inline: 10%;

        h5 {
            margin-bottom: 20px;
        }
    }

    .text-carpool {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-inline: 10%;

        p {
            margin-top: 20px;
        }
    }

    .container-img-friends {
        text-align: center;

        .img-friends {
            border-radius: 25%;
        }
    }

}

.text-ecoweb {
    text-align: center;
    padding: 50px 0 70px 0;

    h5 {
        margin-bottom: 20px;
    }
}