.container-black {
    background-color: $black;
    min-height: calc(100vh -100px - 655px);
    padding-bottom: 2rem;
}

#container-black-register {
    @media (min-width : 1200px) {
        height: 1000px;
    }
}
