nav {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container-logo {
        display: flex;
        align-items: center;

        .logo-ecoride {
            margin: 5px 20px;
        }

        .name-ecoride {
            font-size: 2rem;
            text-align: left;

            a {
                text-decoration: none;
                
                &:hover {
                    color: $primary;
                    font-size: 2.1rem;
                }
            }
        }
    }

    ul {
        display: flex;
        align-items: center;

        li {
            margin: 0 30px;

            a {
                text-decoration: none;
                font-size: 1.2rem;

                &:hover {
                    color: $primary;
                    text-decoration: underline;
                }
            }
        }

        .btn-login {
            background-color: $secondary;
            color: $white;
            font-size: 1.1rem;
            padding: 8px 20px;
            border-radius: 5px;
            border: 2px solid $secondary;
            cursor: pointer;

            &:hover {
                border-color: $white;
                background-color: $black;
            }
        }
    }
}

//

nav {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .menu-burger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            color: white;
        }
    }

    ul.nav-list {
        display: flex;
        list-style: none;

        li {
            margin: 0 30px;
        }
    }

    // Mobile Styles
    @media (max-width: 992px) {
        .menu-burger {
            display: block;
        }

        ul.nav-list {
            display: none;
            flex-direction: column;
            background-color: $black;
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;
            padding: 20px;
            z-index: 1;

            li {
                margin: 10px 0;
            }
        }

        ul.nav-list.active {
            display: flex;
        }
    }
}
