nav {
    background-color: $dark;

    .navbar-logo {
        img {
            width: 10%;
        }
    }

    .navbar-brand {
        color: white;
        font-size: 30px;
    }

    .nav-link {
        color: white;
        margin: 0 15px;
    }
}