.hero-section {
    position: relative;

    .wave-top {
        position: relative;
        z-index: 1;
    }

    .menu-session {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        z-index: 2;
        top: 80%;
        width: 100%;

        .card-session {
            width: 18rem;
            height: 10rem;
            border-radius: 1rem;
            border: 2px solid rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
            background-color: $tertiary;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                width: 18.7rem;
                height: 10.4rem;
                background-color: darken($tertiary, 20%);

                h3 {
                    font-size: 1.6rem;
                }
            }

            h3 {
                position: absolute;
                z-index: 3;
                text-align: center;
            }
        }
    }
}