.btn-blue {
    background-color: $secondary;
    color: $white;
    font-size: 0.9rem;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid $secondary;
    cursor: pointer;

    &:disabled {
        background-color: $lightGrey;
        border-color: $darkGrey;
        color: $darkGrey;
    }

    &:hover {
        border-color: $white;
        background-color: $black;

        &:disabled {
            background-color: $lightGrey;
            border-color: $darkGrey;
            color: $darkGrey;
        }
    }

    @media (min-width : 768px) {
        font-size: 1.1rem;
    }
}

.btn-search {
    border: 1px solid $secondary;

    &:hover {
        color: $black;
        border-color: rgba($color: $black, $alpha: 0.4);
        background-color: $primary;
    }
}

#btn-form {
    margin: 1rem;
}