.carousel {
    position: relative;
    height: 12rem;
    width: 85%;
    background-color: $white;
    border-radius: 1rem;
    margin-inline: auto;

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: none;
        border: none;
        cursor: pointer;
        width: 2rem;
        height: 2rem;

        svg {
            background-color: $white;
            color: $black;
            width: 2rem;
            height: 2rem;
        }
    }
}

#prev {
    left: 0.5rem;
}

#next {
    right: 0.5rem;
}

.slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-out;
    padding: 0 3rem;

    .notes {
        margin: 0.5rem 0;
    }
}

.slide.active {
    opacity: 1;
}

@media (min-width : 768px) {
    .carousel {
        width: 70%;
    }
}