// CARPOOL ACCESS & NO CARPOOL

.text-access-carpool {
    margin-top: 1rem;

    #green-tag {
        margin: auto;
    }
}

.text-alter-carpool {
    text-align: center;
    margin: 1rem 0;
}


// SPECIFIQUE CARD USER SESSION

#future-carpool-card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Return if "Aucun covoit"
.p-no-carpool {
    text-align: center;
    margin-top: 2rem;
}