.carpool-card {
    border-radius: 1rem;
    background-color: $white;
    width: 80%;
    height: 19rem;
    margin: 1.5rem auto;

    p {
        color: $black;
    }
}

@media (min-width: 768px) {
    .carpool-card {
        width: 60%;
        height: 15rem;
    }
}

.carpool-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.p-credit {
    margin-bottom: 0.5rem;
}

.p-place {
    text-align: end;
}

.travel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem;
}

.container-depart {
    margin-right: 2rem;
}

.container-arrivee {
    margin-left: 2rem;
}

.travel-circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $black;
}

.travel-line {
    width: 10rem;
}

.duree {
    margin-inline: 1rem;
}

hr {
    width: 100%;
}


.carpool-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .green-tag {
        margin: 1.5rem auto;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
    }
}

.card-driver {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    @media (min-width: 768px) {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

.container-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profil-icon {
    width: 25%;
    margin-right: 1rem;
}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;

    .svg {
        margin-right: 0.5rem;
    }

    .p-notes {
        font-size: 1.6rem;
        color: $darkGrey;
    }
}

.details-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;

    svg {
        width: 16px;
        height: 16px;

        @media (min-width: 768px) {
            width: 24px;
            height: 24px;
        }
    }

    p {
        color: $secondary;
        margin-left: 0.5rem;
    }

    a :hover {
        text-decoration: underline;
        color: $secondary;
    }
}