@use '../base/custom' as *;

.success {
    width: 16rem;
    height: 4rem;
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: $primary;
    border-color: $black;

    p {
        color: $black;
    }
}

@media (min-width:1200px) {
    .success {
        width: 20rem;
        height: 4.3rem;
        margin: 1rem;

        p {
            font-size: 1.1rem;
        }
    }
}