.tag {
    border-radius: 2rem;
    width: 5rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 0.8rem;
    }
}

#green-tag {
    background-color: $primary;
}

@media (min-width: 768px) {
    .tag {
        width: 5.5rem;
        height: 1.7rem;

        p {
            font-size: 0.9rem;
        }
    }
}

@media (min-width: 1200px) {
    .tag {
        width: 7rem;
        height: 1.9rem;

        p {
            font-size: 1.2rem;
        }
    }
}

// BLUE TAG A REVOIR

.blue-tag {
    background-color: $secondary;
    border-radius: 2rem;
    width: 7rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $white !important;

    }
}

@media (min-width: 768px) {
    .blue-tag {
        width: 8rem;
    }
}

@media (min-width: 1200px) {
    .blue-tag {
        width: 8rem;
    }
}