#container-form-contact {
    height: 420px;
}

@media (min-width : 768px) {
    #container-form-contact {
        height : 450px;
        position: absolute;
        z-index: 2;
        top: 12%;
        left: 20%;
    }
}

@media (min-width:1200px) {
    #container-form-contact {
        height: 550px;
        top: 15%;
    }
}