.form-filters {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 250px;
    margin-inline: auto;
}

.form-content {
    margin-bottom: 1rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

.inputNumberType,
.select-box {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $lightGrey;
    border-radius: 4px;
}

.select-box {
    cursor: pointer;

    p {
        color: $black;
    }
}

.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-container.open .checkbox-container {
    display: block;
}

.checkbox-container {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid $lightGrey;
    border-top: none;
    width: 100%;

    label {
        display: block;
        padding: 0.4rem 0.6rem;
        cursor: pointer;

        &:hover {
            background-color: $lightGrey;
        }
    }
}

@media (min-width: 768px) {
    .form-filters {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    .form-filters {
        max-width: 400px;
    }

    .select-box {
        p {
            font-size: 1.1rem;
        }
    }
}