@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #081F34;
  font-size: 2rem;
}

h2 {
  color: #ffffff;
  font-size: 1.8rem;
}

h4 {
  color: #ffffff;
  font-size: 1.3rem;
}

h5 {
  color: #ffffff;
  font-size: 1.1rem;
}

p {
  color: #ffffff;
}

a {
  color: #ffffff;
}

li {
  list-style: none;
}

.btn-search {
  background-color: #528DB9;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 8px 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #528DB9;
  cursor: pointer;
}
.btn-search:hover {
  color: #081F34;
  border-color: rgba(8, 31, 52, 0.4);
  background-color: #0EE6B1;
}

nav {
  background-color: #081F34;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container-logo {
  display: flex;
  align-items: center;
}
nav .container-logo .logo-ecoride {
  margin: 5px 20px;
}
nav .container-logo .name-ecoride {
  font-size: 2rem;
  text-align: left;
}
nav .container-logo .name-ecoride a {
  text-decoration: none;
}
nav .container-logo .name-ecoride a:hover {
  color: #0EE6B1;
  font-size: 2.1rem;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 0 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul li a:hover {
  color: #0EE6B1;
  text-decoration: underline;
}
nav ul .btn-login {
  background-color: #528DB9;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #528DB9;
  cursor: pointer;
}
nav ul .btn-login:hover {
  border-color: #ffffff;
  background-color: #081F34;
}

@media (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}
/* MOBILE */
.menu-burger {
  display: none;
}

footer {
  background-color: #081F34;
  /* SECTION ICONS */
  /* SECTION MENTIONS LEGALES */
  /* SECTION COPYRIGHT */
}
footer .section-wave-bottom {
  color: #081F34;
  position: relative;
}
footer .section-wave-bottom .section-icons-eco {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  z-index: 1;
  margin-top: 65px;
}
footer .section-wave-bottom .section-icons-eco p {
  margin-top: 5px;
  color: #081F34;
}
footer .section-wave-bottom .bg-wave-bottom {
  position: relative;
}
footer .section-wave-bottom .bg-wave-bottom img {
  width: 100%;
}
footer .section-legal-infos {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
footer .section-legal-infos .logo-slogan-bottom p {
  color: #0EE6B1;
  font-size: 1.5rem;
  margin-top: 10px;
}
footer .section-legal-infos .coordonnees p {
  margin: 20px 0;
}
footer .section-legal-infos .social-network {
  text-align: center;
}
footer .section-legal-infos .social-network a {
  text-decoration: none;
}
footer .section-legal-infos .social-network a svg {
  margin: 20px 5px;
}
footer .section-legal-infos .legal-infos .legal-link {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
footer .section-legal-infos .legal-infos .legal-link a {
  margin-bottom: 20px;
}
footer .copyright hr {
  width: 75%;
  margin: auto;
}
footer .copyright p {
  text-align: center;
  padding: 30px 0;
}

.hero-section {
  position: relative;
}
.hero-section .wave-top {
  position: relative;
}
.hero-section h1 {
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 10%;
}
.hero-section .form-container {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 20%;
}
.hero-section .form-container-contact {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 20%;
}

.container-main-home {
  background-color: #081F34;
}

.img-main-section {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  margin-bottom: 50px;
}

.grid-home-prez {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-inline: 15%;
}
.grid-home-prez .container-img-electric {
  text-align: center;
}
.grid-home-prez .container-img-electric .img-electric {
  border-radius: 25%;
  margin-bottom: 10%;
}
.grid-home-prez .text-environ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: 10%;
}
.grid-home-prez .text-environ h5 {
  margin-bottom: 20px;
}
.grid-home-prez .text-carpool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: 10%;
}
.grid-home-prez .text-carpool p {
  margin-top: 20px;
}
.grid-home-prez .container-img-friends {
  text-align: center;
}
.grid-home-prez .container-img-friends .img-friends {
  border-radius: 25%;
}

.text-ecoweb {
  text-align: center;
  padding: 50px 0 70px 0;
}
.text-ecoweb h5 {
  margin-bottom: 20px;
}

/* FORM HOME */
.form-container {
  background-color: #ffffff;
  border: 1px solid rgba(8, 31, 52, 0.5);
  border-radius: 10px;
  width: 400px;
  height: 300px;
}
.form-container form {
  text-align: center;
  padding-top: 20px;
}
.form-container form .depart-city,
.form-container form .arrival-city,
.form-container form .date-label {
  padding: 15px;
}
.form-container form label {
  color: #081F34;
}
.form-container form input {
  background-color: #D6D6D6;
  border: 1px solid rgba(8, 31, 52, 0.4);
  border-radius: 5px;
  width: 325px;
  height: 40px;
  text-align: start;
  font-size: 1rem;
  padding-left: 10px;
}
.form-container form input:focus {
  outline: none;
}

/* FORM CONTACT */
.form-container-contact {
  background-color: #ffffff;
  border: 1px solid rgba(8, 31, 52, 0.5);
  border-radius: 10px;
  width: 400px;
  height: 500px;
  margin: auto;
}
.form-container-contact form {
  text-align: center;
  padding: 20px 0;
}
.form-container-contact form .title-contact,
.form-container-contact form .email-contact,
.form-container-contact form .message-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}
.form-container-contact form textarea {
  background-color: #D6D6D6;
  border: 1px solid rgba(8, 31, 52, 0.4);
  border-radius: 5px;
  width: 325px;
  height: 150px;
  text-align: start;
  padding: 5px 0 0 5px;
  margin: 10px 0 0 20px;
}
.form-container-contact form textarea:focus {
  outline: none;
}
.form-container-contact form label {
  margin-left: 20px;
  color: #081F34;
}
.form-container-contact form input {
  background-color: #D6D6D6;
  border: 1px solid rgba(8, 31, 52, 0.4);
  border-radius: 5px;
  width: 325px;
  height: 40px;
  text-align: start;
  font-size: 1rem;
  margin: 10px 0 0 20px;
}
.form-container-contact form input:focus {
  outline: none;
}

.invalid-feedback {
  color: red;
  font-size: 0.8rem;
  margin-inline: 20px;
  padding-top: 5px;
  text-align: left;
}

.link-account {
  text-align: center;
}
.link-account p,
.link-account a {
  color: #081F34;
  font-size: 0.9rem;
}
.link-account a:hover {
  color: #0EE6B1;
}

.container-black {
  background-color: #081F34;
  min-height: 700px;
}/*# sourceMappingURL=main.css.map */