/* HERO SECTION */



/* ICONS SECTION */
.icons-wave-section {
    position: relative;

    .bg-wave-bottom {
        height: 337px;
        background-color: #081F34;

        @media screen and (max-width: 450px) {
            height: 40vh;
        }

    }

    .icons-section {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -95%);
    }

    svg {
        color: #081F34;
        width: 10%;
    }

    p {
        color: #081F34;
        margin-top: 10px;
    }

}

footer {

    p {
        color: white
    }

    h5 {
        color: white;
        margin-bottom: 25px;
    }

    img {
        width: 25%;
    }

    .icon-social {
        font-size: 40px;
        color: white;
        margin: 0 10px;
    }

    .legacy {
        a {
            margin: 10px 0;
            color: white;
        }
    }
}