@use '../base/custom' as *;

table {
    color: $white;
    border-collapse: collapse;
    margin-inline: 1rem;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}

th,
td {
    padding: 10px;
    border: 1px solid $white;
}

@media (min-width: 992px) {
    table {
        display: table;
        margin: auto;
    }
}