#carpool-details {
    height: 13.5rem;
}

.carpool-card-details-items {
    height: 8rem;

    h6 {
        padding: 1rem 0 0.5rem 1rem;
    }

    ul {
        padding: 0 0 1rem 2rem;
    }

    li {
        color: $black;
        font-size: 0.8rem;
    }
}

.btn-participate {
    display: block;
    margin: auto;
}

.comments-container {
    text-align: center;
    margin-bottom: 2rem;

    h5 {
        margin: 1rem 0;
    }

    p {
        color: $black;
    }
}

.carousel {
    position: relative;
    height: 16rem;
    width: 80%;
    background-color: $white;
    border-radius: 10px;
    margin: auto;

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: none;
        border: none;
        cursor: pointer;
        width: 2rem;
        height: 2rem;

        svg {
            background-color: $white;
            color: $black;
            width: 2rem;
            height: 2rem;
        }
    }
}

#prev {
    left: 0.5rem;
}

#next {
    right: 0.5rem;
}

.slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-out;
    padding: 0 3rem;

    .notes {
        margin: 0.5rem 0;
    }
}

.slide.active {
    opacity: 1;
}

@media (min-width : 768px) {
    #carpool-details {
        height: 15.5rem;
    }

    .carpool-card-details-items {
        height: 9rem;

        h6 {
            padding-left: 2rem;
        }

        ul {
            padding-left: 3.5rem;
        }

        li {
            font-size: 1rem;
        }
    }
}

@media (min-width : 1200px) {
    #carpool-details {
        height: 17.5rem;
    }

    .carpool-card-details-items {
        height: 11rem;

        li {
            font-size: 1.3rem;
        }
    }
}