// CARPOOL ACCESS & NO CARPOOL

.text-access-carpool {
    text-align: center;
    margin-top: 1rem;

    .green-tag {
        margin: auto;
    }
}

.text-alter-carpool {
    text-align: center;
    margin: 1rem 0;

    @media (min-width:1200px) {
        font-size: 1.3rem;
    }
}


// CARD SEARCH + EN COMMUN

.carpool-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.details-link {
    display: flex;
    flex-direction: row;

    p {
        color: $secondary;
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }

    a :hover {
        text-decoration: underline;
        color: $secondary;
    }
}

// Spécidique card carpool search

.div-infos-driver {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;

    .div-profil {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profil-icon {
        width: 25%;
        margin-right: 1rem;
    }

    .div-star {
        display: flex;
        flex-direction: row;
        align-items: center;

        .star-fill {
            margin-right: 0.5rem;
        }

        .p-rating {
            font-size: 1.6rem;
            color: $darkGrey;
        }
    }
}

// SPECIFIQUE CARD USER SESSION

.carpool-card-bottom {
    padding-top: 0.5rem;

    .tag-status {
        border: 2px solid $primary;
        border-radius: 2rem;
        width: 6rem;
        height: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $darkGrey;
        }
    }
}

// Fonction : border-color en fonction du status du covoit
$status: (
    "Annulé" : #FF4D4D,
    "Confirmé" : $primary
);

.tag-status {
    @each $key, $color in $status {
        &[data-status="#{$key}"] {
            border-color: $color;
        }
    }
}