.form-filters {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 400px;
    margin-inline: auto;
}

.form-content {
    margin-bottom: 1rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}


.inputNumberType {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $lightGrey;
    border-radius: 4px;
}

.custom-select-checkbox {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;
}

.checkbox-options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
}

.custom-select-checkbox.open .checkbox-options {
    display: block;
}

.checkbox-options label {
    display: block;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.checkbox-options label:hover {
    background-color: #f0f0f0;
}

.checkbox-options input {
    margin-right: 0.5rem;
}