.status-carpool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
}

#red-link {
    color: red;
    text-decoration: underline;

    &:hover {
        font-weight: bold;
        color: red;
    }
}