.carpool-card {
    border-radius: 1rem;
    background-color: $white;
    width: 85%;
    height: 16rem;
    margin: 1.5rem auto;

    p {
        color: $black;
    }
}


.carpool-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.p-credit {
    margin-bottom: 0.5rem;
}

.p-place {
    text-align: end;
}

.travel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem;
}

.container-depart {
    margin-right: 1rem;
}

.container-arrival {
    margin-left: 1rem;
}

.travel-circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $black;
}

.travel-line {
    width: 10rem;
}

.duration {
    margin-inline: 1rem;
}

hr {
    width: 100%;
}

.carpool-card-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.details-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    svg {
        width: 16px;
        height: 16px;
    }

    p {
        color: $secondary;
        margin-left: 0.5rem;
    }

    a :hover {
        text-decoration: underline;
        color: $secondary;
    }
}

// Function : border-color according to carpool status
$status: (
    "Annulé" : #FF4D4D,
    "Confirmé" : $primary
);

#tag-status {
    border: 2px solid $primary;
    color: $darkGrey;

    @each $key, $color in $status {
        &[data-status="#{$key}"] {
            border-color: $color;
        }
    }
}

@media (min-width: 768px) {
    .carpool-card {
        width: 70%;
    }

    .travel {
        margin-top: 2.5rem;
    }

    .container-depart {
        margin-right: 2rem;
    }

    .container-arrival {
        margin-left: 2rem;
    }

    .carpool-card-bottom {
        padding: 1rem;
        margin-top: 0.5rem;
    }

    .details-link {
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

@media (min-width: 1200px) {
    .carpool-card {
        height: 18rem;
    }
}