.container-profil {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#container-form-profil {
    form {
        margin-top: 0.5rem;

        .container-form-inner:first-child {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}

#btn-profil {
    margin: 1rem;
}

@media (min-width: 768px) {
    #container-form-profil {
        width: 600px;

        form {
            .container-form-inner:first-child {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (min-width: 992px) {
    #container-form-profil {
        width: 850px;

        form {
            .container-form-inner:first-child {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media (min-width: 1200px) {
    #container-form-profil {
        width: 1150px;
    }
}