.link-account {
    text-align: center;
    margin-top: 20px;

    p,
    a {
        color: $black;
        font-size: 0.9rem;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}

#container-form-register {
    height: 500px;
}

@media (min-width:768px) {
    #container-form-register {
        position: absolute;
        z-index: 2;
        top: 12%;
        left: 20%;
    }
}

@media (min-width:1200px) {
    #container-form-register {
        height: 650px;
        top: 15%
    }
}